*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root{
    min-height: 100%;
} 

body {
    font-family: var(--font-family);
    background-color: var(--page-background-color);
    color: var(--color-text);
}